.content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}
.container {
  text-align: center;
  padding: 0;
  margin: 0;
}
.desc {
  margin-top: 32px;
  color: #888;
  font-size: 0.95em;
}
.btnTop24 {
  margin-top: 24px;
}
.btnTop12 {
  margin-top: 12px;
}

 